<include file="Index/head" title="{$title}" keywords="{$keywords}" description="{$description}" />

<body>
<include file="Index/navbar"/>
<div class="container">
	<div class="row">
		<div class="hidden-xs col-sm-2 col-md-2 con_l">
			<include file="Index/leftnavbar" />

		</div>
		<div class="col-xs-12 col-sm-10 col-md-10 con_r">
			<div class="con_r_con">
				{$time}
				{$username}


				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>

			</div>
		</div>
	</div>
</div>

<include file="Index/js"/>
</body>
</html>