<div class="con_l_nav">
	<ul class="list-group">
	  <li class="list-group-item {$a}"><a href="{:U('Admin/index/index')}">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
	  <li class="list-group-item {$b}"><a href="#">网站设置</a></li>
	  <li class="list-group-item {$c}"><a href="#">导航管理</a></li>
	  <li class="list-group-item {$d}"><a href="{:U('Admin/Article/index')}">文章管理</a></li>
	  <li class="list-group-item {$e}"><a href="{:U('Admin/Comment/index')}">评论管理</a></li>
	  <li class="list-group-item {$f}"><a href="{:U('Admin/Filem/index')}">图片管理</a></li>
	  <li class="list-group-item {$g}"><a href="{:U('Admin/User/index')}">用户管理</a></li>
	  <li class="list-group-item {$h}"><a href="#">广告管理</a></li>
	  <li class="list-group-item {$i}"><a href="#">页面管理</a></li>
	</ul>
</div>