<include file="Index/head" title="{$title}" keywords="{$keywords}" description="{$description}" />
<body>
<include file="Index/navbar"/>
<div class="container">
	<div class="row">
		<div class="hidden-xs col-sm-2 col-md-2 con_l">
			<include file="Index/leftnavbar" />
		</div>
		<div class="col-xs-12 col-sm-10 col-md-10 con_r">
			<div class="con_r_nav">
				<nav class="navbar navbar-default" role="navigation">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmenu2">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand">用户管理</a>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="navbarmenu2">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="{:U('Admin/User/index')}"><i class="fa fa-user"></i>&nbsp;管理员列表</a></li>
				        <li role="presentation" class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						      <i class="fa fa-user-circle-o"></i>&nbsp;用户列表 <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu" role="menu">
						      <li><a href="{:U('Admin/User/users')}"><i class="fa fa-users"></i>&nbsp;&nbsp;所有用户</a></li>
						      <li><a href="{:U('Admin/User/forbid')}"><i class="fa fa-ban"></i>&nbsp;&nbsp;受限用户</a></li>
						      <li><a href="{:U('Admin/User/deleted')}"><i class="fa fa-trash"></i>&nbsp;&nbsp;已删用户</a></li>
						    </ul>
						</li>
						<li><a href="{:U('Admin/User/add')}"><i class="fa fa-user-plus"></i>&nbsp;添加管理员</a></li>
						
				      </ul>
				      <form class="navbar-form navbar-right" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="用户搜索">
				        </div>
				        <button type="submit" class="btn btn-default">搜索</button>
				      </form>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</div>
			<div class="con_r_con">
				<div><!-- 管理员列表 -->
					<table class="table">
					  <tr>
					  	<th>#</th>
					  	<th>头像</th>
					  	<th>用户名</th>
					  	<th>邮箱</th>
					  	<th>电话</th>
					  	<th>登录时间</th>
					  	<th>权限</th>
					  	<th>状态</th>
					  	<th>操作</th>
					  </tr>
					  <foreach name="list" item='v'>
						<tr>
					  	<td>{$v.id}</td>
					  	<td><img class="avatarpic" src="__PUBLIC__/images/admin/{$v.avatar|default='1'}.png"> </td>
					  	<td>{$v.username}</td>
					  	<td>{$v.email}</td>
					  	<td>{$v.phone}</td>
					  	<td>{$v.lastlogin_time|substr=0,10}</td>
					  	<td>{$v.level|getLevel}</td>
					  	<td>&nbsp;&nbsp;{$v.status|getStatus}</td>
					  	<td><a href="#" title="编辑"><i class="fa fa-pencil-square"></i></a>&nbsp;&nbsp;<if condition="$v.status neq 11 "><a href="#" title="删除"><i class="fa fa-trash"></i> </a><else /><i class="fa fa-trash"></i></if></td>
					  </tr>
					  </foreach>
					</table>
				</div>
				
			<include file="Index/pagination" />

			</div>
		</div>
	</div>
</div>

<include file="Index/js"/>
</body>
</html>